<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HuaFhoi - นายหัวฝอย บอทนักหาของมือสองอันดับหนึ่งของไทย</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="bg-primary">
	<div>
		<div class="container paddingTop-xxl paddingBottom-l">
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6 textAlign-center marginBottom-xm">
					<img style="max-width: 400px;" class="width-100" src="{{ url_for('static', filename='assets/images/logo-body.svg') }}">
				</div>
				<div class="col-sm-offset-3 col-sm-6 textAlign-center">
					<div class="fontSize-xl c-white fontFamily-thaiSans">
						ตอนนี้ หัวฝอย กำลังพัฒนา
					</div>
					<div class="c-white fontFamily-thonburi fontSize-s">
						สนใจอยากทดลองใช้ กรอกอีเมลล์ทิ้งไว้ได้เลยจ้าา
					</div>
				</div>
			</div>
			<div class="row marginTop-l">
				<div class="col-xs-12 textAlign-center">
					<div class="button-messenger">
						<div class="button button-secondary button-m margin-s display-inline-block" onclick="subscribe()">
							ลงชื่อด้วย Facebook
						</div>
						<!-- Begin MailChimp Signup Form -->
<!-- 						<div id="mc_embed_signup" style="max-width: 200px;" class="width-100 centered"> 
						<form action="//huafhoi.us15.list-manage.com/subscribe/post?u=c84a11a40a070eb1dc50797ed&amp;id=b714d08ab7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						    <div id="mc_embed_signup_scroll">
						    <div class="input input-full">
									<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
							     real people should not fill this in and expect good things - do not remove this or risk form bot signups
						    </div>
						    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c84a11a40a070eb1dc50797ed_b714d08ab7" tabindex="-1" value=""></div>
						    <div class="clear">
						    	<input type="submit" value="สนใจทดลองใช้" name="subscribe" id="mc-embedded-subscribe" class="button button-secondary button-m margin-s">
					    	</div>
					    </div>
						</form>
						</div> -->
						<!--End mc_embed_signup-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
	<script>
	  var config = {
	    apiKey: "AIzaSyDVdYJ5-2abtGbhxetlgecHrJ6MZ_t0j9A",
	    authDomain: "huafhoi.firebaseapp.com",
	    databaseURL: "https://huafhoi.firebaseio.com",
	    storageBucket: "huafhoi.appspot.com",
	    messagingSenderId: "276889281585"
	  };
	  firebase.initializeApp(config);
	</script>
	<script>
	  function subscribe() {
	  	var provider = new firebase.auth.FacebookAuthProvider();
			firebase.auth().signInWithPopup(provider);
			// console.log('s');
	  }
	</script>

</body>
</html>