<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HuaFhoi - นายหัวฝอย บอทนักหาของมือสองอันดับหนึ่งของไทย</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="bg-primary">
	<div>
		<div class="container paddingTop-xxl paddingBottom-l">
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6 textAlign-center marginBottom-xm">
					<img style="max-width: 250px;" class="width-100" src="{{ url_for('static', filename='assets/images/logo-body.svg') }}">
				</div>
				<div class="col-sm-offset-3 col-sm-6 textAlign-center">
					<div class="fontSize-xl c-white fontFamily-thaiSans">
						ตอนนี้ หัวฝอย กำลังพัฒนา
					</div>
					<div class="c-white fontFamily-thonburi fontSize-s">
						พร้อมใช้เมื่อไหร่จะติดต่อไปทันทีจ้า!!!
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>