<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HuaFhoi - นายหัวฝอย บอทนักหาของมือสองอันดับหนึ่งของไทย</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<div class="bg-secondary">
		<div class="container paddingTop-xxl paddingBottom-xl">
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6 textAlign-center">
					<img src="{{ url_for('static', filename='assets/images/logo.svg') }}">
				</div>
				<div class="col-sm-offset-3 col-sm-6 textAlign-center">
					<div class="fontSize-xl c-white fontFamily-thaiSans">
						ฮายย!! ผมหัวฝอย
					</div>
					<div class="c-white fontFamily-thonburi fontSize-s">
						เพื่อนบอท นักหาของมือสองอันดับหนึ่งของไทย
					</div>
				</div>
			</div>
			<div class="row marginTop-xl">
				<div class="col-sm-offset-4 col-sm-4 textAlign-right marginBottom-xm">
					<div class="borderRadius-xm paddingTopBottom-xs paddingLeftRight-s bg-white c-secondary display-inline-block">
						หัวฝอย ขอดู cpu หน่อย
 					</div>
				</div>
				<div class="col-sm-offset-4 col-sm-4 textAlign-left marginBottom-xm">
					<div class="borderRadius-xm paddingTopBottom-s paddingLeftRight-s bg-white c-secondary display-inline-block borderColor-third borderStyle-solid borderWidth-1" style="width: 250px">
						<div class="c-black fontWeight-5">
							ขายi3 2100
						</div>
						<div class="c-grey fontSize-xxs">
							ppt9x9x, Today 12:45:18
						</div>
						<div class="c-grey fontSize-xxs">
							www.huafhoi.com
						</div>
						<div class="button marginTop-xs paddingTopBottom-xxs button-border-secondary borderRadius-xs display-inline-block">
							View
						</div>
						<hr class="marginBottom-s">
						<div class="c-black fontWeight-5">
							ขาย cpu q9450 socket775 มือ2
						</div>
						<div class="c-grey fontSize-xxs">
							ppt9x9x, Today 12:40:13
						</div>
						<div class="c-grey fontSize-xxs">
							www.huafhoi.com
						</div>
						<div class="button marginTop-xs paddingTopBottom-xxs button-border-secondary borderRadius-xs display-inline-block">
							View
						</div>
						<hr class="marginBottom-s">
						<div class="cursor-pointer ontFamily-thonburi c-secondary textAlign-center">
							ดูอีก
						</div>
					</div>
				</div>
				<div class="col-sm-offset-4 col-sm-4 textAlign-right marginBottom-xm">
					<div class="borderRadius-xm paddingTopBottom-xs paddingLeftRight-s bg-white c-secondary display-inline-block">
						ดูอีก
					</div>
				</div>
				<div class="col-sm-offset-4 col-sm-4 textAlign-left marginBottom-xm">
					<div class="borderRadius-xm paddingTopBottom-s paddingLeftRight-s bg-white c-secondary display-inline-block borderColor-third borderStyle-solid borderWidth-1 marginBottom-xxs" style="width: 250px">
						<div class="c-black fontWeight-5">
							ขาย cpu inter core2
						</div>
						<div class="c-grey fontSize-xxs">
							mamaD, Today 11:35:23
						</div>
						<div class="c-grey fontSize-xxs">
							www.huafhoi.com
						</div>
						<div class="button marginTop-xs paddingTopBottom-xxs button-border-secondary borderRadius-xs display-inline-block">
							View
						</div>
						<hr class="marginBottom-s">
						<div class="cursor-pointer fontFamily-thonburi c-secondary textAlign-center">
							ดูอีก
						</div>
					</div>
					<div class="borderRadius-xm paddingTopBottom-s paddingLeftRight-s bg-white c-grey display-inline-block borderColor-third borderStyle-solid borderWidth-1" style="width: 250px">
						ดู cpu เยอะขนาดนี้ ให้ฝอยช่วยดูของให้ไหม ของใหม่มา ทักหาทันที
						<hr class="marginBottom-s marginTop-s">
						<div class="cursor-pointer fontFamily-thonburi c-secondary textAlign-center">
							สนใจ
						</div>
					</div>
				</div>
				<div class="col-sm-offset-4 col-sm-4 textAlign-right marginBottom-xm">
					<div class="borderRadius-xm paddingTopBottom-xs paddingLeftRight-s bg-white c-secondary display-inline-block">
						สนใจ
					</div>
				</div>
				<div class="col-sm-offset-4 col-sm-4 textAlign-left marginBottom-xm">
					<div class="borderRadius-xm paddingTopBottom-s paddingLeftRight-s bg-white c-grey display-inline-block marginBottom-xxs" style="width: 250px; border-bottom-left-radius: 0px">
						EZ มาก เดะฝอยดูตลาดให้
					</div>
					<div class="borderRadius-xm paddingTopBottom-s paddingLeftRight-s bg-white c-grey display-inline-block marginBottom-xxs" style="width: 250px; border-bottom-left-radius: 0px; border-top-left-radius: 0px">
						ของมาปั๊บ ทักหาทันที สวย ๆ อยากได้ไรเพิ่มบอกฝอย!!
					</div>
					<div class="borderRadius-xm paddingTopBottom-s paddingLeftRight-s bg-white c-grey display-inline-block marginBottom-xxs" style="width: 250px; border-top-left-radius: 0px;"">
						อยากดูอะไรเพิ่มอีกก็บอกฝอยได้เลยนะจ๊ะ
					</div>
				</div>
			</div>
<!-- 			<div class="row" >
				<div class="col-xs-12 textAlign-center">
					<div class="button-messenger" style="margin-bottom: -45px">
						<a href="#package">
							<img src="{{ url_for('static', filename='assets/images/messenger-white.svg') }}" alt="">
						</a>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<div class="container marginTop-xl">
		<div class="row marginTop-xxl">
			<div class="col-xs-12 textAlign-center">
				<div class="fontSize-xl c-primary fontFamily-thaiSans">
					สงสัยไหมว่าผมช่วยอะไรได้บ้าง
				</div>
			</div>
		</div>
		<div class="row marginTop-xxl marginBottom-xxl">
			<div class="col-sm-6 textAlign-center">
				<img style="max-width: 250px" class="width-100" src="{{ url_for('static', filename='assets/images/ios-getitems.png') }}" alt="">
				<div class="marginTop-xm fontSize-m fontFamily-thaiSans fontWeight-3 c-grey">
					ดูของมือสอง ของวันนี้และเมื่อวาน
				</div>
			</div>
			<div class="col-sm-6 textAlign-center">
				<img style="max-width: 250px" class="width-100" src="{{ url_for('static', filename='assets/images/ios-subscribe.png') }}" alt="">
				<div class="marginTop-xm  fontSize-m fontFamily-thaiSans fontWeight-3 c-grey">
					ฝากฝอยดูของ รายงานทันทีเมื่อมีคนโพส
				</div>
			</div>
		</div>
<!-- 		<div class="row">
			<div class="col-xs-12 textAlign-center marginBottom-xxl">
				<div class="button-messenger">
					<a href="#package">
						<img src="{{ url_for('static', filename='assets/images/messenger-white.svg') }}" alt="">
					</a>
				</div>
			</div>
		</div> -->
	</div>
	<div class="bg-secondary paddingBottom-xxl">
		<div class="container paddingTopBottom-xxl xs-padding-0">
			<div class="row marginTop-xxl">
				<div class="col-xs-12 textAlign-center">
					<div class="fontSize-xl c-white fontFamily-thaiSans">
						แพคเกจหัวฝอย
					</div>
				</div>
			</div>
			<div class="row centered marginTop-l width-100" style="max-width: 650px;">
				<div class="col-xs-12">
					<table id="package" class="table width-100 c-grey">
						<tr>
							<td>
								<div class="fontSize-xxl fontFamily-thaiSans c-secondary">
									ฟรี !!
								</div>
								<div>
									ตลอดชีพ
								</div>
							</td>
							<td>
								<div class="fontSize-xxl fontFamily-thaiSans c-white">
									99
								</div>
								<div>
									บาท/เดือน
								</div>
							</td>
						</tr>
						<tr>
							<td>
								- แจ้งสินค้าใหม่ทุก 30 นาที</br>
								- ติดตามสินค้าได้สูงสุด 6 หมวด</br>
								- 1 แหล่งข้อมูล
							</td>
							<td>
								- แจ้งสินค้าใหม่ทันทีที่ลงขาย</br>
								- ติดตามสินค้าไม่จำกัดหมวดหมู่</br>
								- รวบรวมสินค้าให้ไม่จำกัดแหล่งที่มา</br>
								- เลือกสินค้าตามแบรนด์, ยี่ห้อ, รุ่น
							</td>
						</tr>
						<tr>
							<td>
								<div class="button button-border-primary paddingLeftRight-xm button-s margin-s display-inline-block" onclick="subscribe('free')">
									ใช้งาน
								</div>
							</td>
							<td>
								<div class="button button-secondary paddingLeftRight-xm button-s margin-s display-inline-block"  onclick="subscribe('pay')">
									ใช้งาน
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<style>
		tr:first-child td:first-child {
			border-top-left-radius: 5px;
		}
		tr:first-child td:last-child {
			border-top-right-radius: 5px;
		}
		tr:last-child td:first-child {
			border-bottom-left-radius: 5px;
		}
		tr:last-child td:last-child {
			border-bottom-right-radius: 5px;
		}
		tr:not(:last-child) td:first-child {
			border-bottom: 1px solid #ddd;
		}
		tr:not(:last-child) td:last-child {
			border-bottom: 1px solid #222;
		}
		tr td:not(:last-child) {
			border-right: 1px solid #ddd;
		}
		tr td:last-child {
			background-color: #444444;
			color: #ffffff;
		}
 		td {
			padding: 10px;
			background: #ffffff;
			text-align: center;
			width: 50%;
		}
		tr:nth-child(2) td {
			text-align: left;
			padding: 20px;
			line-height: 2;
		}
		tr:first-child td {
			font-weight: 700;
		}
	</style>

	<script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
	<script>
	  var config = {
	    apiKey: "AIzaSyDVdYJ5-2abtGbhxetlgecHrJ6MZ_t0j9A",
	    authDomain: "huafhoi.firebaseapp.com",
	    databaseURL: "https://huafhoi.firebaseio.com",
	    storageBucket: "huafhoi.appspot.com",
	    messagingSenderId: "276889281585"
	  };
	  firebase.initializeApp(config);
	</script>
	<script>
		if(firebase.auth().currentUser) {
			window.location = "/beta";
		}
	  function subscribe(type) {
	  	var database = firebase.database();
	  	var provider = new firebase.auth.FacebookAuthProvider();
			firebase.auth().signInWithPopup(provider).then(function(result) {
				var user = result.user;
				userType = database.ref('users/'+ type).push()

				userType.set({
					email: user.email,
					photoURL: user.photoURL,
					name: user.displayName
				}).then(function() {
			  	window.location = "/beta";
			  });

			});
	  }
	</script>
</body>
</html>