<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HuaFhoi - นายหัวฝอย บอทนักหาของมือสองอันดับหนึ่งของไทย</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:url" content="powerful-woodland-41704.herokuapp.com/policy" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="bg-secondary">
	<div>
		<div class="container paddingTop-xxl paddingBottom-l">
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6 textAlign-center marginBottom-xm">
					<img style="max-width: 250px;" class="width-100" src="{{ url_for('static', filename='assets/images/logo-body.svg') }}">
				</div>
				<div class="col-sm-offset-3 col-sm-6 textAlign-center">
					Policy
				</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6 c-white">
					<ul>
						<li>นายหัวฝอย ไม่มีนโยบายในการใช้ข้อมูลของผู้ใช้เพื่อแสวงหากำไรใดใดทั้งสิ้น</li>
					</ul>
				</div>
			</div>
			<div class="row marginTop-xm">
				<div class="col-xs-12 textAlign-center">
					<div class="fb-page centered" data-href="https://www.facebook.com/huafhoi/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/huafhoi/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/huafhoi/">นายหัวฝอย</a></blockquote></div>
				</div>
			</div>
		</div>
	</div>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1094642500645253";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>